<!-- Replace <YOUR_DSX_SHAREDNOTEBOOK_URL_HERE> with your DSX Shared notebook link -->
<button type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href='<YOUR_DSX_SHAREDNOTEBOOK_URL_HERE>'">
    <span class="glyphicon glyphicon-dashboard" ></span>
    Analytics Notebook!
</button >
