<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="nav navbar-nav navbar-left">
                <h1><span><img src="images/ibm.png" alt="IBM logo" width="48px" height="48px"/> </span> IBM WDP Fitness Demo</h1>
            </span>

        </div>
    </div>
</nav>
