<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WDP Fitness Demo</title>
  <meta name="description" content="WDP Fitness Demo">
  <meta name="author" content="Sean Sabour">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/images/ibm.png"/>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="css/styles.css">
</head>

<body class="parent">
    <%- include('partials/navbar.ejs') %>

    <div >
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>NOTE!</strong> You must have a fitbit account before trying to register (https://www.fitbit.com/signup).
        </div>

        <%- include('partials/modals.ejs') %>

        <div class="container-fluid child">
            <h3>Enroll into the WDP Fitness Demo Challenge!</h3>
            <!-- REPLACE <YOUR_FITBIT_REGISTRATION_LINK> WITH YOUR FITBIT REGISTRATION URL -->
            <button type="button" class="btn signBtn btn-lg btn-block" onclick="location.href='<YOUR_FITBIT_REGISTRATION_LINK>'">Sign up!</button>

            <button type="button" class="btn learnBtn btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-book"></span>
                Learn more
            </button>

            <%- include('partials/dashboard-btn.ejs') %>
        </div>
    </div>
</body>
</html>
